<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link rel="stylesheet"  type="text/css" href="/../project/css/bootstrap.min.css">
    <link rel="stylesheet"  type="text/css" href="/../project/css/bootstrap-theme.css">
    <link rel="stylesheet"  type="text/css"  href="/../project/css/bootstrap.css">

</head>
<body>
<script src="/../project/js/jquery-1.12.2.min.js"></script>
<script src="/../project/js/bootstrap.min.js"></script>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Page 1</a></li>
            <li><a href="#">Page 2</a></li>
            <li><a href="#">Page 3</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </div>
</nav>

<div class="wrapper" id="wrapper">
    <p>
        We are 2 Information Technology students exploring a new avenue. We are learning the proper way
        to develop a web based cloud application. This experience is coming to us in our software
        engineering course at Oakland University in Rochester Michigan.
    </p>

</div>

</body>
</html>